.Carousel {
  height: 85vh;
  background-color: rgba(32, 32, 32, 0.9);
  display: flex;
  align-items: center;
}

.Carousel img {
  display: block;
  margin: auto;
  height: 35vw;
}

@media only screen and (max-width: 768px) {
  .Carousel {
    height: 35vh;
  }
}