.Carousel {
  height: 85vh;
  background: rgba(32, 32, 32, 0.9);
}

.Carousel > div {
  height: 100%;
  display: flex;
  align-items: center;
}

.Carousel img {
  display: block;
  margin: auto;
  max-height: 70vh;
  max-width: 100%;
}

@media screen and (max-width: 512px),
screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) {
  .Carousel {
    height: 35vh;
  }

  .Carousel img {
    height: 25vh;
  }
}