.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100vh;
}

@media only screen and (max-width: 832px),
screen and (min-width: 832px) and (max-width: 1376px) and (min-height: 768px) and (max-height: 1366px) {
  .App {
    padding-bottom: 0;
  }

  .App > div {
    padding-bottom: 5vh;
  }
}

.fade-footer {
  height: 40vh;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
}
