.App {
  background-image: url(https://valeryyershov.s3.amazonaws.com/misc/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100vh;
}

.App-mobile {
  background: gray;
  background: repeating-linear-gradient(15deg, white, white 10%, lightgray 10%, lightgray 20%);
}

.frost {
  background-color: rgba(255, 255, 255, .5);
}

.frost-footer {
  height: 40vh;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
}
